.head{
    background-image: url(/imagenes/pngtree-dragon-ball-z-picture-image_3166980.png);
    width: 100%;
    height: 146px;
    margin-top: -22px;
    margin-left: -5px;
    background-size: cover;
    background-position-y: -475px;
}
.footer{
    background-image: url(/imagenes/llama-fuego-dorado-sobre-fondo-transparente-oscuro-chispas-rojas-volando-realista_1284-32353.png);
    background-position-y: -120px;
    width: 86vw;
    height: 70px;
    position: absolute;
    top: 586px;
    left: 209px;
    margin-left: -7px;
}

.main{
    display: flex;
    flex-direction: row;
}

.move{
    display: flex;
    flex-direction: column;
}

.sect{
    display: flex;
    flex-direction: column;
}

.aside{
    background-image: url(/imagenes/dragon-ball-z-dbz-crystal-ball-1-star-png-701751694862293fasot8y7xc.png);
    background-position-x: 500px;
    background-position-y: -127px;
    width: 200px;
    height: 510px;
    position: relative;
    top: -19px;
    margin-left: -5px;
}

.mainnn{
    background-image: url(/imagenes/llama-fuego-dorado-sobre-fondo-transparente-oscuro-chispas-rojas-volando-realista_1284-32353.png);
    background-position-y: -750px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1319px;
    height: 150px;
}

.galeria{
    background-image: url(/imagenes/ZTYQSTPVBBJCJISPXOTLJ6XKTA.png);
    background-size: cover;
    background-position-y: 368px;
    width: 1319px;
    height: 150px;
    margin-top: 70px;
}

.body{
    background-image: url(/imagenes/papel-tapiz-plano-estilo-comic_23-2148818640.png);
    background-repeat: no-repeat;
    background-size: cover;
}